.section-about {
    background-color: $grey-light-color-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-light-color, 0.8),
        rgba($primary-dark-color, 0.8)
      ),
      url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $grey-light-color-1;
    padding: 25rem 0 15rem;
    margin-top: -12rem;
}